* {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

body {
    display: flex;
}

.imagen-lado h1, h2, h3, h4, h5, h6, span {
    background: none;
    color: #ddd;
    text-shadow: 0 0 10px #000;
}

.imagen-mueve {
    position: absolute;
    z-index: 5;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/backg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    flex-direction: column;
    filter: grayscale(0.6);
    align-items: center;
    justify-content: center;
    transform: scale(1, 1)
}

.imagen-mueve img {
    cursor: pointer;
    margin: 20px;
    box-shadow: 0 0 20px #000;
    transform: translate(0, -4rem);
}

.imagen-mueve-1 {
    animation-name: animacion-girar;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes animacion-girar {
      0% {
        width: 100vw;
        height: 100vh;
      }

      25% {
        width: 100vw;
        height: 100vh;
        transform: scale(1.2, 1.2);
      }

      50% {
        width: 50vw;
        height: 100vh;
        transform: scale(1, 1); 
      }

      75% {
        visibility: hidden;
        z-index: 0;
      }

      100% {
        width: 0;
        /* height: 0; */
        visibility: hidden;
        display: none;
      }
    }

.mover-arriba {
    display: flex;
    justify-content: center;
    background: none;
    align-items: center;
    opacity: 0;
    flex-direction: column;
        animation-name: animacion-2;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }
    
    @keyframes animacion-2 {
          0% {
            opacity: 0;
          }

          25% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

.imagen-lado{
    top: 0;
    position: sticky;
    width: 50vw;
    height: 100vh;
}

.mover-arriba span {
    font-size: x-small ;
}

.imagen-al-lado {
    /* background-image: url(img/backg.png); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/backg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    filter: grayscale(0.6);
    /* filter: blur(5px); */
    align-items: center;
    justify-content: center;
}

.imagen-al-lado img {
    cursor: pointer;
    margin: 20px;
    margin-top: 80px;
    box-shadow: 0 0 20px #000;
    transition: transform 0.1s ease;
}

.imagen-al-lado img:hover {
    transform: scale(1.05);
}

/* .imagen-al-lado img:focus {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.fecha {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.container{
    padding: 60px;
}

.book {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    color: #bbb;
}

.book hr {
    width: 30vw;
    /* margin-right: 10px; */
    color: #ddd;
}

.recibo {
    display: flex;
    justify-content: space-between;
    color: #969494;
    margin-top: 5px;
}

.total-pay {
    color: #646464;
    margin-top: 5px;
}

.boton-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #969494; */
}

.boton-pay button {
    background-color: #bbbbbb;
    border: 5px;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 5px;
    width: 100%;
    transition: 0.1s;
}

.boton-pay button:hover {
    opacity: 80%;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 0.25rem rgb(39, 39, 39);
}

.boton-pay button:active {
    transform: scale(0.95);
}

.botones {
    display: flex;
    width: 100%;
}

#credit-card {
    background-color: #7e7e7e;
    margin-right: 0.5rem;
}

.credit {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border: #ccc 2px solid;
}

.credit input {
    width: auto;
    border: none;
    background-color: white;
    padding: 10px;
    width: 121px;
}

.credit input:focus {
    border: none;
    outline: none;
}

.credit input:placeholder-shown {
    color: #9e9e9e;
}

.credit input:first-child {
    background-image: url(img/credit_card_FILL0_wght400_GRAD0_opsz24.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 30px;
    width: 242px;
}

.preguntas-azul {
    font-size: 14px;
    margin-top: 30px;
    color: blue;
    line-height: 2;
    margin-bottom: 30px;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    color: #bbb;
}

.information hr {
    width: 26vw;
    color: #ddd;
}

.name { 
    display: flex;
}

.information-input input {
    background-color: white;
    width: 100% ;
    padding: 0.5rem;
    border: #ccc solid 2px;
}

.email {
    width: 548px;
    /* width: 100%; */
}

.phone {
    width: 511px;
}

.phone input {
    background-image: url(img/usa-flag.png);
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position-y: center;
    background-position-x: 5px;
    padding-left: 45px;
}

.information-input input:focus {
    outline: none;
}

.information-input input:placeholder-shown {
    color: #9e9e9e;
}

.agree span {
    color: #969494;
    text-shadow: none;
    line-height: 2;
}

#help {
    font-size: small;
}

.book-now button {
    background-color: #646464;
    border: 5px;
    align-items: center;
    margin: 5px 0 5px 0;
    padding: 10px;
    width: 100%;
    transition: 0.1s;
    font-size: 18px;
}

.book-now button:hover {
    opacity: 80%;
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 0 0.25rem rgb(39, 39, 39);
}

.book-now button:active {
    transform: scale(0.95);
}

.by-click p {
    color: #a0a0a0;
    text-shadow: none;
}